<table class = "result">
  <tr>
    <td><%= @name %></td>
  </tr>
  <tr>
    <td><%= @mail_address %></td>
  </tr>
  <tr>
    <td><%= @pass %></td>
  </tr>
  <tr>
    <%= @univ %>
  </tr>
  <tr>
    <td><%= @nickname %></td>
  </tr>
  <tr>
    <td><%= @experience %></td>
  </tr>
  <tr>
    <td><%= @position %></td>
  </tr>
  <tr>
    <td><%= @program %></td>
  </tr>
  <tr>
    <td><%= @birthday %></td>
  </tr>
  <tr>
    <td><%= @like_food %></td>
    <td><%= @dislike_food %></td>
  </tr>
</table>