<div class = "main products-show">
  <div class = "container">
    <div class ="products-show-item">
      <h1><%= @product.name %></h1>
      <h2>プロダクト内容</h2>
      <p><%= @product.content %></p>
      <h2>進捗</h2>
      <p><%= @product.progress %></p>
      <%= "作成日時#{@product.created_at}" %>
      <div class = "product_menu">
        <%= link_to("編集","/products/#{@product.id}/edit") %>
        <%= link_to("削除","/products/#{@product.id}/destroy", {method:"post"}) %>
      </div>
    </div>
  </div>
</div>
