<!DOCTYPE html>
<html>
  <head>
    <title>JackServer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <header>
      <div class="header-logo">
        <a href="/">jackun</a>
      </div>

      <ul class="header-menus">
        <li>
          <%= link_to("プロダクト一覧", "/products/index") %>
        </li>
        <li>
          <%= link_to("新規プロダクト", "/products/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
